* {
  margin: 0; padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #next, .all {
  width: 100%;
  height: 2600px;
  /*overflow: hidden;*/
}




.headerSpace {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
  background-color: white;
}

.headerDetailSpace1 {
  display: flex;
  max-width: 1200px;
  height: 64px;
  padding: 12px 20px;
  margin: 0px auto;
  align-items: center;
}

.carrotLogo {
  width: 65px;
  margin-right: 36px;
}

.carrotLogo span {
  flex-grow: 1;
}

.menuSpace {
  display:flex;
  width: 661px;
  height: 23.75px;
  padding: 0 40px 0 0;
}

.menuValue {
  display: flex;
  width: 500px;
  height: 23.75px;
  list-style-type: none;
  align-items: flex-start;
  justify-content: flex-start;
}

.menuValue li {
  display: inline-block;
}

.menuValue li a {
  font: bold 1.125rem 'Noto Sans', 'sans-serif';
  text-decoration: none;
  word-spacing: -1px;
  color: #4d5159;
}

.fleamarket {
  width: 102px;
}

.nearbystores {
  width: 102px;
}

.nearbystores .current {
  color: #ff6f0f;
}

.jobs {
  width: 66px;
}

.realty {
  width: 84px;
}

.car {
  width: 120px;
}

.fleamarket a:hover, .jobs a:hover, .realty a:hover, .car a:hover {
  color: #8a8a8f;
}

.searchSpace {
  display: flex;
  width: 400px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.searchBarSpace {
  display: block;
  width: 300px;
  height: 40px;
}

.searchBar {
  width: 288px;
  height: 40px;
  margin-right: 12px;
}

.searchLetter {
  display: block;
  width: 100%;
  height: 100%;
  color: #212124;
  background-color: #f2f3f6;
  font-size: 1rem;
  border-radius: 6px 6px 6px 6px;
  border-style: none;
  outline: none;
  padding: 12px 12px 12px 12px;
}

.searchLetter::placeholder {
  color: #8d8d9b;
  -webkit-font-smoothing: antialiased;
  word-spacing: -1px;
}

.chatMenu {
  display: inline-block;
  width: 98px;
  height: 100%;
}

.goToChat {
  display: block;
  padding: 8px 16px 8px 16px;
  font: bold 1rem 'Noto Sans', sans-serif;
  border: solid 1px #d1d3d8;
  border-radius: 4px 4px 4px 4px;
  background-color: white;
  -webkit-transition: color,background-color 0.15s ease 0s;
}

.goToChat:hover {
  cursor: pointer;
  color: #6b6b80;
  background-color: rgba(242, 243, 245, 0.75);
}






.mainSpace {
  height: 2003px;
  width: 100%;
  padding: 64px 0px 0px 0px;
  margin: 0px 0px 74px 0px;
}

.mainTopSpace {
  height: 315px;
  background-color: #f7f1eb;
  overflow: hidden;
}

.mainTopDetailSpace {
  display: flex;
  width: 768px;
  height: 315px;
  padding: 50px 0 0 0;
  margin: 0 auto;
  align-content: center;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

@-webkit-keyframes fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.bannerSpace {
  display: flex;
  position: absolute;
  left: 316px;
  bottom: 0px;
}

.bannerImage {
  width: auto;
  height: 260px;
  vertical-align: bottom;
  display: block;
  object-fit: cover;
  -webkit-animation: fadein 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s forwards;
}

.mainLetter {
  /*position: absolute;*/
  /*top: 50px;*/
  /*bottom: 0;*/
  font: bold 2rem 'Noto Sans', sans-serif;
  line-height: 48px;
  word-spacing: -3px;
  letter-spacing: -0.2px;
  color: #212124;
}


.subLetter {
  display: block;
  font-size: 1.125rem;
  word-spacing: -1.5px;
  letter-spacing: -0.15px;
  line-height: 135%;
  margin: 14px 0 0 0;
}






.mainMiddleSpace {
  max-width: 800px;
  height: 1562px;
  margin: 70px auto 68px auto;
  padding: 0px 16px;
  /*align-content: center;*/
  background-color: rgba(255, 255, 255, 0.66);
}

.introStoreSpace {
  height: 728px;
}

.variableStore {
  text-align: center;
  font-size: 2rem;
  word-spacing: -2.5px;
  padding: 0 16px 0 16px;
  margin: 0 0 28px 0;
  height: 48px;
}

.store-menu {
  display: flex;
  height: 38px;
  justify-content: center;
  align-items: center;
}

.store-menu ul {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.store-menu ul li {
  display: flex;
  align-items: center;
  list-style: none;
}

.label-one {
  width: 62px;
  height: 38px;
}

.label-two{
  width: 62px;
  height: 38px;
  margin: 0 0 0 8px;
}

.label-three {
  width: 62px;
  height: 38px;
  margin: 0 0 0 8px;
}

.label-four {
  width: 96px;
  height: 38px;
  margin: 0 0 0 8px;
}

.label-five {
  width: 96px;
  height: 38px;
  margin: 0 0 0 8px;
}

.label-six {
  width: 157.5px;
  height: 38px;
  margin: 0 0 0 8px;
}

.one {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
  background-color: #4d5159;
  color: white;
  font-size: 0.875rem;
  padding: 11px 16px;
  border-radius: 100px;
}

.two, .three, .four, .five, .six {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
  font-size: 0.875rem;
  padding: 11px 16px;
  border-radius: 100px;
  border: 1px #eaebee solid;
  -webkit-transition: background-color 0.15s ease 0s;
}

.two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
  cursor: pointer;
  background-color: rgba(242, 243, 245, 0.8);
}

.store-space {
  height: 590px;
  margin: 20px 0 0 0;
}

.store-article-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 590px;
  list-style: none;
}

.store-article-left, .store-article7 {
  display: flex;
  /*width: 368px;*/
  /*height: 147.5px;*/
  margin-right: 32px;
  border-bottom: rgb(235, 236, 241) 1px solid;
}

.store-article-right, .store-article8 {
  display: flex;
  /*width: 368px;*/
  /*height: 147.5px;*/
  border-bottom: rgb(235, 236, 241) 1px solid;
}

.store-article7, .store-article8 {
  border-bottom: none;
}



.store-article-wrapper li a {
  display: flex;
  flex-grow: 1;
  /*width: 368px;*/
  /*height: 125px;*/
  padding: 16px;
  align-items: flex-start;
  -webkit-transition: background-color 0.15s ease 0s;
}

.store-article-wrapper li a:hover {
  cursor: pointer;
  background-color: rgba(242, 243, 245, 0.85);
}

.store-article-thumbnail-wrapper {
  width: 80px;
  height: 80px;
  margin: 0 16px 0 0;
}

.store-article-thumbnail {
  width: 80px;
  height: 80px;
  /*position: relative;*/
  margin: 0px;
  border-radius: 100px;
  overflow: hidden;
}

.store-article-wrapper img {
  width: 80px;
  height: 80px;
}

.store-letter-space {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
}

.store-information {
  display: flex;
  width: 240px;
  align-items: center;
  height: 23.75px;
}

.store-name {
  font: bold 1.125rem 'Noto Sans', sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #212124;
  line-height: 23.76px;
  word-spacing: -1px;
}

.store-location {
  font-size: 0.875rem;
  white-space: nowrap;
  color: #868b94;
  margin: 0 0 0 4px;
  word-spacing: -1px;
  letter-spacing: -0.2px;
}

.store-main-introduce {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  width: 240px;
  height: 45px;
  line-height: 135%;
  word-break: break-all;
  color: #212124;
  margin-top: 2px;
  word-spacing: -1px;
  letter-spacing: -0.1px;
}

.store-sub-introduce {
  width: 240px;
  font-size: 13px;
  line-height: 20px;
  color: #868b94;
  margin-top: 2px;
  word-spacing: -1px;
  word-break: break-all;
  letter-spacing: -0.1px;
}

.review-space {
  height: 521px;
  margin: 98px 0 0 0;
}

.review-space h6 {
  font-size: 2rem;
  word-spacing: -1px;
  letter-spacing: -0.6px;
  margin: 0 0 32px 0;
}

.review-menu-list {
  display: flex;
  flex-wrap: wrap;
  height: 446px;
  list-style: none;
}

.review-menu {
  width: 376px;
  height: 215px;
}

.review-menu:nth-child(2) {
  margin: 0 0 0 16px;
}

.review-menu:nth-child(3) {
  margin: 16px 0 0 0;
}

.review-menu:nth-child(4) {
  margin: 16px 0 0 16px;
}

.review-click-space {
  width: 376px;
  height: 215px;
}

.review-menu-compact {
  width: 376px;
  height: 215px;
  padding: 21px 16px;
  border: 1px solid #eaebee;
  border-radius: 6px;
  -webkit-transition: background-color 0.15s ease 0s;
  overflow: hidden;
}

.review-menu-compact:hover {
  cursor: pointer;
  background-color: rgba(242, 243, 245, 0.85);
}

.review-user-space {
  display: flex;
  height: 41px;
  align-items: center;
}

.review-user-profile-space, .review-user-profile {
  width: 36px;
  height: 36px;
}

.review-user-profile {
  overflow: hidden;
  border-radius: 36px;
}

.profile-photo, .profile-photo3, .profile-photo4 {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

.review-user-information-wrapper {
  display: flex;
  flex-direction: column;
  width: 306px;
  height: 41px;
  padding: 0 0 0 10px;
}

.review-user-main-information {
  display: flex;
  width: 296px;
  height: 24px;
  align-items: center;
}

.review-user-nickname {
  font-weight: bold;
  color: #212124;
}

.review-user-badge-wrapper {
  width: 32px;
  margin: 0 0 0 4px;
}

.review-user-badge {
  width: 32px;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  background-color: #ff6f0f;
  padding: 2px 4px;
  border-radius: 100px;
}

.review-user-sub-information {
  line-height: 22px;
  font-size: 13px;
  color: #868b94;
  word-spacing: -1px;
}

.review-letter {
  display: -webkit-box;
  width: 342px;
  color: #212124;
  overflow: hidden;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  margin: 8px 0 0 0;
  word-spacing: -1px;
  letter-spacing: -0.2px;
  line-height: 140%;
}

.review-target-space {
  height: 64px;
  margin: 16px 0 0 0;
  background-color: white;
}


.review-target-wrapper {
  display: flex;
  height: 64px;
  align-items: center;
  border: 1px solid #eaebee;
  border-radius: 6px;
}

.review-target-image-wrapper {
  display: flex;
  width: 62px;
  height: 62px;
}

.review-target-image {
  width: 62px;
  height: 62px;
  object-fit: cover;
  border-radius: 6px 0 0 6px;
  -webkit-animation: fadein 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s forwards;
}


.review-target-introduce-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 54px;
  padding: 6px 16px 6px 14px;
}

.review-target-introduce-main {
  height: 21.75px;
  color: #212124;
  word-spacing: -1px;
}

.review-target-introduce-sub {
  height: 20.25px;
  font-size: 13px;
  color: #868b94;
  line-height: 20px;
  word-spacing: -1.5px;
}

.design-banner-space {
  height: 120px;
  margin: 72px 0 0 0;
}

.design-banner-wrapper {
  display: flex;
  align-items: center;
  height: 120px;
  padding: 24px 22px 24px 32px;
  border-radius: 6px;
  background-color: #f7be6824;
}

.design-banner-image-wrapper {
  display: flex;
  flex-direction: column;
  width: 72px;
  height: 72px;
}

.design-banner-image {
  -webkit-animation: fadein 0.4s cubic-bezier(0.4, 0, 0.2, 0.4) 0s forwards;
}
.design-banner-letter-wrapper {
  width: 450px;
  padding: 0 0 0 32px;
}

.design-banner-letter-wrapper h6 {
  font-size: 1.25rem;
  letter-spacing: -0.3px;
  word-spacing: -1px;
  color: #212124;
}

.design-banner-letter-wrapper span {
  display: block;
  margin: 2px 0 0 0;
  color: #212124;
  /*line-height: 23px;*/
  letter-spacing: -0.3px;
  word-spacing: -0.1px;
}

.design-banner-button-wrapper {
  display: flex;
  justify-content: center;
  width: 181px;
  height: 40px;
  margin: 0 0 0 12px;
}

.design-banner-button {
  display: flex;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 1.125rem;
  font-weight: bold;
  word-spacing: -1.7px;
  line-height: 120%;
  color: white;
  background-color: #ff6f0f;
}

.footer-space {
  height: 533px;
  border-top: 1px solid #eaebee;
  padding: 0 16px;
}

.footer-menu-space {
  width: 768px;
  height: 533px;
  margin: 0 auto;
}

.footer-top-section {
  height: 258px;
  padding: 48px 0;
}

.footer-menu-wrapper {
  display: flex;
  /*flex-direction: column;*/
  width: 464px;
}

.footer-menu, .footer-menu2, .footer-menu3 {
  list-style: none;
  width: 131px;
}

.footer-menu3 {
  margin: 0 71px 0 0;
}

.footer-menu .menu1, .footer-menu2 .menu2, .footer-menu3 .menu3{
  font-size: 0.875rem;
  color: #212124;
  height: 20px;
  word-spacing: -1px;
  margin: 0 0 16px 0;
}

.menu1:hover, .menu2:hover, .menu3:hover {
  cursor: pointer;
  text-decoration: underline #212124;
}

.footer-download-wrapper {
  display: flex;
  flex-direction: column;
  float: right;
  width: 304px;
  height: 75px;
}

.footer-download-letter {
  font-size: 0.875rem;
  line-height: 20px;
  word-spacing: -1px;
}

.footer-download-icon {
  display: flex;
  height: 55px;
}

.footer-download-apple {
  width: 147px;
  height: 47px;
  margin: 8px 0 0 0;
}

.apple svg:hover, .android svg:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer-download-android {
  width: 147px;
  height: 47px;
  margin: 8px 0 0 10px;
}

.footer-bottom-section {
  display: grid;
  justify-content: space-between;
  width: 768px;
  height: 275px;
  padding: 24px 0 100px 0;
  border-top: solid 1px #eaebee;
}

.footer-bottom-letter-section {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.footer-bottom-letter-detail-section {
  margin: 0 0 16px 0;
}

.footer-bottom-letter {
  display: flex;
  align-items: center;
  line-height: 19.5px;
}

.footer-bottom-letter-design {
  font-size: 13px;
  word-spacing: -1px;
  letter-spacing: -0.1px;
  line-height: 19.5px;
  color: #868b94;
}

.space-\| {
  margin: 0 4px;
}

.footer-bottom-sql-space {
  margin: 0 0 16px 0;
}

.footer-bottom-sql-space .footer-bottom-letter-design {
  margin: 0 11px 0 0;
}

.sql:hover {
  cursor: pointer;
  text-decoration: underline #868b94;
}

.footer-bottom-sns-section {
  display: flex;
  align-items: center;
  width: 264px;
  height: 38.5px;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.footer-bottom-sns {
  padding: 4px 0 0 0;
  margin: 0 16px 0 0;
  line-height: 18.4px;
}

.footer-bottom-sns svg:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer-bottom-local-label-wrapper {
  display: flex;
  width: 100px;
  height: 35px;
  align-items: center;
}

.footer-bottom-local-label {
  display: flex;
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  -webkit-transition: background-color 0.15s ease 0s;
}

.footer-bottom-local-label:hover {
  cursor: pointer;
  background-color: rgba(242, 243, 245, 0.85);
}

.footer-bottom-local-label span {
  line-height: 16px;
  padding: 0 0 0 5px;
  margin: 0 15px 0 0;
  color: #868b94;
}
.footer-final-information-section {
  display: flex;
  line-height: 19.5px;
  grid-column: 1 / 4;
}

.footer-final-information-wrapper {
  margin: 0 16px 0 0;
  line-height: 19.5px;
}

.footer-final-information {
  font-weight: bold;
  font-size: 13px;
  word-spacing: -1px;
  letter-spacing: -0.1px;
  line-height: 19.5px;
  color: #868b94;
}

.footer-final-information-important {
  font-weight: bold;
  font-size: 13px;
  word-spacing: -1px;
  letter-spacing: -0.1px;
  line-height: 19.5px;
  color: #4d5159;
}

.footer-final-information:hover  {
  cursor: pointer;
  text-decoration: underline #868b94;
}

.footer-final-information-important:hover {
  cursor: pointer;
  text-decoration: underline #4d5159;
}

