* {
  margin: 0; padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #next, .all {
  width: 100%;
  height: 2600px;
  /*overflow: hidden;*/
}

.headerSpace {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
  background-color: white;
}

.headerDetailSpace1 {
  display: flex;
  max-width: 1200px;
  height: 64px;
  padding: 12px 20px;
  margin: 0px auto;
  align-items: center;
}

.carrotLogo {
  width: 65px;
  margin-right: 36px;
}

.carrotLogo span {
  flex-grow: 1;
}

.menuSpace {
  display:flex;
  width: 661px;
  height: 23.75px;
  padding: 0 40px 0 0;
  align-items: center;
}

.menuValue {
  width: 500px;
  height: 23.75px;
  list-style-type: none;
}

.menuValue li {
  display: inline-block;
}

.menuValue li a {
  font: bold 1.125rem 'Noto Sans', 'sans-serif';
  text-decoration: none;
  color: #4d5159;
}

.fleamarket {
  width: 102px;
}

.nearbystores {
  width: 102px;
}
.nearbystores .current {
  color: #ff6f0f;
}

.jobs {
  width: 66px;
}

.realty {
  width: 84px;
}

.car {
  width: 120px;
}

.fleamarket a:hover, .jobs a:hover, .realty a:hover, .car a:hover {
  color: #8a8a8f;
}

.searchSpace {
  display: flex;
  width: 400px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.searchBarSpace {
  display: block;
  width: 300px;
  height: 40px;
}

.searchBar {
  width: 288px;
  height: 40px;
  margin-right: 12px;
}

.searchLetter {
  display: block;
  width: 100%;
  height: 100%;
  color: #212124;
  background-color: #f2f3f6;
  font-size: 1rem;
  border-radius: 6px 6px 6px 6px;
  border-style: none;
  outline: none;
  padding: 12px 12px 12px 12px;
}

.searchLetter::placeholder {
  color: #8d8d9b;
  -webkit-font-smoothing: antialiased;
  word-spacing: -1px;
}

.chatMenu {
  display: inline-block;
  width: 98px;
  height: 100%;
}

.goToChat {
  display: block;
  padding: 8px 16px 8px 16px;
  font: bold 1rem 'Noto Sans', sans-serif;
  border: solid 1px #d1d3d8;
  border-radius: 4px 4px 4px 4px;
  background-color: white;
  -webkit-transition: color,background-color 0.15s ease 0s;
}

.goToChat:hover {
  cursor: pointer;
  color: #838393;
  background-color: rgba(242, 243, 245, 0.55);
}

.mainSpace {
  height: 2003px;
  width: 100%;
  padding: 64px 0px 0px 0px;
  margin: 0px 0px 74px 0px;
}

.mainTopSpace {
  height: 315px;
  background-color: #f7f1eb;
  overflow: hidden;
}

.mainTopDetailSpace {
  width: 768px;
  height: 315px;
  padding: 50px 0 0 0;
  margin: 0 auto;
  align-content: center;
  overflow: hidden;
  position: relative;
}

@-webkit-keyframes fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.bannerSpace {
  display: flex;
  position: absolute;
  left: 316px;
  bottom: 0px;
}

.bannerImage {
  width: auto;
  height: 260px;
  vertical-align: bottom;
  display: block;
  object-fit: cover;
  -webkit-animation: fadein 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.4s forwards;
}

.mainLetter {
  position: absolute;
  top: 50px;
  bottom: 0;
  font: bold 2rem 'Noto Sans', sans-serif;
  line-height: 48px;
  word-spacing: -3px;
  letter-spacing: -0.2px;
  color: #212124;
}

.mainLetter #br1 {
  font-size: 4rem;
}

.subLetter {
  display: block;
  font-size: 1.125rem;
  word-spacing: -1.5px;
  letter-spacing: -0.15px;
}

.mainMiddleSpace {
  max-width: 800px;
  height: 1562px;
  margin: 64px auto 74px auto;
  padding: 0px 16px;
  /*align-content: center;*/
  background-color: rgba(210, 215, 215, 0.66);
}

.introStoreSpace {
  height: 728px;
}

.variableStore {
  text-align: center;
  font-size: 2rem;
  word-spacing: -2.5px;
  padding: 0 16px 0 16px;
  margin: 0 0 32px 0;
  height: 48px;
}

.storeMenu {
  display: flex;
  height: 38px;
  justify-content: center;
}

.storeMenu ul {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.storeMenu ul li {
  list-style: none;

}

.footerSpace {
  height: 533px;
  border-top: 1px solid #eaebee;
}